* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: breuer;
	src: url('./../fonts/BreuerFont.ttf'), format('truetype');
	src: url('./../fonts/BreuerHeadline.ttf'), format('truetype');
	src: url('./../fonts/BreuerText.ttf'), format('truetype');
	src: url('./../fonts/BreuerText-Bold.ttf'), format('truetype');
	src: url('./../fonts/BreuerText-Medium.ttf'), format('truetype');
	src: url('./../fonts/BreuerText-Regular.otf'), format('opentype');
	src: url('./../fonts/BreuerHeadline-Oblique.otf'), format('opentype');
	src: url('./../fonts/BreuerText-BoldItalic.otf'), format('opentype');
}


#home {
	background: 
	url('./../images/home.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*login*/

#login {
	position: relative;
	top: 30px;
	left: 30px;

}


#login input {
	font-family: 'breuer'
	border-radius: 2px;
	border-color: #fff;
	color: #fff;
	font-size: 15px;
	width: 10rem;
	text-decoration: underline;
	background: transparent;

}

#loginBtn {
	font-family: breuer;
	font-weight: bold;
	background-color: #FFD90D;
	color: #BB8A13;
}

/*main message*/

#main {
	position: relative;
	top: -80px;
	right: 50px;
	height: 100%;
	width: auto;
}

/*bet button with registratio*/
#errorMessage {
	font-weight: bold;
}

#registerForm {
	position: absolute;
	bottom: 22%;
	left: 35%;
	width: 100%
}



#betBtn {
	/*background-color: #261F49;*/
	font-family: breuer;
	font-style: oblique;
	font-weight: bold;
	background-color: #2F4C9C;
	border-radius: 10px;
	color: #fff;
	/*border-color: #ea4632;*/
	border-color: #ffcf00;

}


/*steps*/
#steps {
	position: relative;
	bottom: 150px;
	padding: 0;
	margin-top: 0;
}

#steps p {
	font-family: breuer;
	font-style: normal;
	font-weight: medium;
	padding: 0;
}


.stepText {
	max-width: 50%;
}

/*banner*/
#banner {
	position: relative;
	bottom: 150px;
	left: 80px;
}

/*coral info*/
#coralInfo {
	font-family: breuer;
	position: relative;
	bottom: 150px;
	left: 80px;
	text-decoration: underline;
}

#coralInfo p a{
	text-decoration: underline;
	font-family: breuer;
}

#coralInfo button {
	border: none;
	background: transparent;
	text-decoration: underline;
}


